.topbarContainer {
  height: 60px;
  width: 100vw;
  background-color: #fcfcfc;;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: top 0.6s;
}

.topbarContainer--hidden{
  top: -50px;
}

.navContainer{
  background-color: #fcfcfc;;
  display: flex;
}

.navWrapper{
  display: flex;
}

.nav {
  display: flex;
}

.homeMenubar {
  display: none;
}

.topbarLeft {
  flex: 2;
  display: flex;
  align-items: left;
  justify-content: space-around;
  color: #3096f3;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: var(--logo-color);
  cursor: pointer;
  text-decoration: none;
}

.topbarCenter {
  flex: 1;
}

.searchbar {
  width: 100%;
  height: 35px;
  background-color: inherit;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  border: solid black 0.1px;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
  color: black;
}

.searchInput {
  border: none;
  width: 70%;
  background: inherit;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: right;
  justify-content: space-evenly;
  color: white;
}

.topbarLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
  margin-left: auto;
  margin-right: 10%;
}

.topbarIconItem {
  font-size: 30px;
  /* margin-right: 25px; */
  cursor: pointer;
  align-items: right;
  position: relative;
  text-decoration: none !important;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  cursor: pointer;
}

/* .shareOption{
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
} */

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
}

.vl {
  border-left: 1px solid var(--nav-item-color);
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.peopleIcon {
  text-decoration: none;
  color: var(--nav-item-color);
}

.iconText {
  color: var(--nav-item-color);
  text-decoration: none;
  /* text-decoration-color: #09091c; */
}

@media only screen and (max-width: 425px) {
  .sidebarWrapper {
    margin-top: 20px;
  }

  .homeMenubar {
    display: block;
    align-self: center;
    width: 8px;
  }

  .navContainer{
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .navWrapper {
    display: none;
  }
  
  .topbarLeft {
    width: 60%;
    flex: none;
  }
  .topbarRight {
    width: 30%;
    flex: none;
  }
}
