.noPendingRequestsContainer {
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.noPendingRequestsText {
  flex: 90%;
}

.noPendingRequestsManage {
  flex: 10%;
  text-align: left;
}

.connectionsContainer {
  display: flex;
}

.sidebarConnections {
  flex: 35%;
}

.connectionsRightbar {
  flex: 8.5;
}

.connectRequestHeading1 {
  padding-top: 20px;
  font-size: larger;
}

.connectionsTitle {
  padding-top: 20px;
  font-size: larger;
}

.connections {
  display: flex;
  flex-direction: column;
}

.connectionsWrapper {
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

/* ___________ConnectionTemplate_______________ */

.connectionsTemplateContainer {
  display: flex;
  flex-direction: column;
 border-radius: 10px;
 -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
 box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
 width: 22.5%;
 margin: 10px;
 text-align: left;
 min-width: 165px;
 flex-grow: 1;
}

.connectionCoverImage {
  height: 80px;
   border-radius: 10px;
   width: 100%;
   background-color: darkgrey;
}

.connectionImage {
  width: 80px;
  height: 80px;
  background-color: darkgrey;
  border-radius: 40px;
  object-fit: cover;
  position: absolute;
  left: 2%;
  margin: auto;
  top: 20px;
  border: 1px solid white;
  text-align: center;
} 

.connectionsTemplateHeader {
   margin-bottom: 20px;
   height: 100px;
   position: relative;
}

.connectionName{
   font-size: 18px;
    font-weight: 400;
    padding-bottom: 8px;
}

.connectionPosition {
   font-size: 14px;
   font-weight: 300;
}

.connectionOrganization {
   font-size: small;
   font-weight: 300;
   margin-bottom: 20px;
}

.connect {
  margin: 20px 0px;
  /* left: 2%; */
  font-size: 18px;
  font-weight: bold;
  color: #023e8a;
  padding: 5px 15px;
  border-radius: 25px;
  border: solid 1px #023e8a;
  cursor: pointer;
  align-self: center;
  text-decoration: none;
}

.connectRequestContainer {
   display: flex;
   flex-direction: column;
}

.connectRequestHeading {
   padding: 15px;
   font-size: medium;
}

.connectRequestsWrapper {
   display: flex;
   
}

.connectionInfo {
   display: flex;
   flex-direction: column;
   padding-left: 20px;
}
