.homeContainer{
    display: flex;
    width: 100%;
    /* background-color: #f8f9fa; */
}

.homeLeftbar{
    flex: 3;
}

.homeDownbar{
    display: none;
}

.shareFeedContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 5;
}

.homeRightbar{
    margin-left: 10px;
    flex: 3.5;
}

@media only screen and (max-width:1005px){
    .homeRightbar{
        display: none;
    }
    .shareFeedContainer{
        width: 65%;
    }
    /* .sidebar{
        width: 25%;
    } */
}

@media only screen and (max-width:425px){
  .shareFeedContainer{
      width: 95%;
      margin: 2%;
  }
  .homeLeftbar{
      display: none;
  }
  .sidebarList {
    padding: 0;
    margin: 20px 0px 0px 20px;
    list-style: none;
  } 

  .homeDownbar{
      display: block;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 10;
  }
}

