.commentTemplateContainer{
    display: flex;
    flex-direction: column;
}

.commentTemplateRight{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.commentTemplateTop{
    display: flex;
}

.postUsernameComment {
    font-size: 15px;
    font-weight: 500;
}

.commentText {
    font-size: small;
}

.boxBottomComment {
    display: flex;
    justify-content: end;
    width: 92%;
    /* margin-bottom: 20px; */
}

.CommentTemplateBottom{
    display: flex;
    /* margin : 10px 0; */
    margin-left: 7%;
}

.featureButton{
    padding: 0px 5px;
    display: flex;
}

.featureButtonIcon{
    padding: 0 5px;
    width: 15px !important;
}

.featureButtonText{
    padding: 0 5px;
    font-size: small;
    align-self: center;
}

.commentTemplateUpper{
    display: flex;
    padding-top: 10px;
}

.commentDate {
    font-size: 12px;
    margin: 0 10px;
    align-self: center;
}