.instituteSidebar {
  flex: 3;
  height: calc(100vh - 50px);
  position: sticky;
  /* top: 50px; */
  margin-left: 2%;
    
  }
  
  .hr {
    margin-bottom: 15px;
  }

  .updatedListView{
      display: flex;
      flex-direction: column;
  }

  .updatedListViewTop{
    display: flex;
  }

  .addClub{
      align-self: right;
      color: #00b7ff;
      font-size: medium;
      align-items: center;
      text-decoration: none;
  }

  .updatedListViewBottom{
      margin-left: 20px;
  }