.profile1{
    display: flex;
}

.profileRight {
    flex: 9;
    width: 100vw;
}

.profileSidebar{
    flex: 3;
}

.profileImg{
    width: 150px;
    height: 150px;
}

.coverUserImgAdd {
    padding: 10px;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    top: 10%;
    left: 90%;
    border: solid 3px white;
    background-color: #e2e6f6;
}

.profileCover {
    height: 270px;
    position: relative;
}

.profileCoverImageTop {
    width: 93%;
    height: 200px;
    margin: 20px 0px 20px 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 5%;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileUserImgAdd {
    padding: 10px;
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    top: 60%;
    left: 80%;
    border: solid 3px white;
    background-color: #e2e6f6;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileInfo1{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.whiteBox {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.profileRightBottomright {
    margin-right: 20px;
    flex: 5 1;
    margin-top: 20px;
}

@media only screen and (max-width:425px){

    .profileCoverImageTop {
        width: 100vw;
    }

    .profileRightBottomright {
        margin-right: 0px;

    }

    .profileCoverImageTop {
        /* width: 93%; */
        height: 200px;
        margin: 0px;
        border-radius: 0px;
    }

.profileRightBottom {
    display: flex;
    width: 100vw;
}

.profileSidebar{
    display: none;
}

}

.publicProfile {
    display: flex;
    margin: auto;
    width: 70%;
    flex-direction: column;
}

.shareProfile {
    margin-bottom: 30px;
}