.clunIntrocontainer {
    /* width: 80%; */
    /* height: 170px; */
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  }
  
  
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .birthdayText {
    font-weight: 300;
    font-size: 15px;
  }
  
  .rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
  }
  
  .clubIntrorightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
  }
  
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .rightbarInfo{
    margin-bottom: 30px;
    
  }
  
  .rightbarInfoItem{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  
  .rightbarInfoValue{
    font-weight: 300;
  }
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .accounts {
    display: flex;
    
  }
  
  .accountIcon {
    padding: 5px;
    
  }
  
  .accountPlateform1 {
    align-self: center;
    font-size: medium;
    font-weight: 400;
  }
  
  .shareButton1 {
      border: none;
      padding: 7px;
  
      border-radius: 5px;
      background-color: #457b9d;
      font-weight: 500;
      margin: 20px 20px 20px 0;
      cursor: pointer;
      color: white;
  }