
.tech {
    /* margin-top: 20px; */
    margin-left: 10px;
    font-size: medium;
    font-weight: 400;
    border: solid 0px #0077b6;
    padding: 5px 10px;
    color: black;
    max-width: -moz-fit-content;
    max-width: fit-content;
    background-color: rgb(235, 229, 229);
    border-radius: 20px;
}

.eventTitleProject {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #3d5a80;
}

.eventTitleProject2 {
    margin-top: 7px;
    margin-left: 10px;
    font-size: medium;
    font-weight: 500;
}

.techStack {
    display: flex;
    margin: 5px 0;
}

.assigned {
    margin-left: 10px;
    font-size: small;
    font-weight: 400;
    color: #0070ff;
}

.startedon {
    margin: 5px 0 5px 10px;
    font-size: small;
    font-weight: 300;
}